[submodule "3rd/tsfile"]
	path = 3rd/tsfile
	url = https://github.com/apache/tsfile.git
	branch = develop
[submodule "3rd/qcustomplot"]
	path = 3rd/qcustomplot
	url = https://github.com/legerch/QCustomPlot-library.git
